@import "../../colors.scss";

.board{
   
    margin: 75px auto auto auto;
    background-color: $blue-100;
    border: none;
}

.setting {
    width: 50px;
    height: 50px;
    border-radius: 60px;
    text-align: center;
}