@import "../../colors.scss";

section {
  min-height: 100vh;
}

.home{
  background-image: linear-gradient(rgba(76, 60, 221, 0.436), rgba(0, 0, 0, 0.1)), url('../../assets/images/blue-1.jpeg');
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.animated-svg {
  width: 100%;
}

.card {
  top: 10%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 6px 15px 1px rgb(0 0 0 / 25%);
  border-radius: 20px;
}

.container {
  
  max-width: none;
}

.istat {
  background-color: $blue-300;
}

  

.card > svg {
  width: 55%;
  margin: auto;
}

iframe {
  width: 100%;

  box-shadow: 1px 6px 15px 1px rgb(0 0 0 / 25%);
  border-radius: 20px;
}

@keyframes waveMovement {
  from {
    transform: scaleY(100%);
  }

  to {
    transform: scaleY(50%);
  }
}

@keyframes circleMovement {
  from {
    transform: rotate(0deg) scale(1);
  }

  to {
    transform: rotate(180deg) scale(0.7);
  }
}

#wave {
  transform-origin: bottom;
  animation: 1.8s ease-in-out infinite alternate waveMovement;
}

#wave1 {
  transform-origin: bottom;
  animation: 1.5s ease-in-out infinite alternate waveMovement;
  animation-delay: 0.5s;
}

#wave2 {
  transform-origin: bottom;
  animation: 1s ease-in-out infinite alternate waveMovement;
  animation-delay: 1s;
}

// .our-team {
 
//   img {
//     filter: none;
//     -webkit-filter: hue-rotate(0);;
//     cursor: pointer;
//   }

//   img:hover {
//     filter: hue-rotate(90deg);;
//     -webkit-filter: hue-rotate(190deg);
//     cursor: pointer;
//     scale: 105%;
//   }
// }

#circle {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  animation: 1.8s ease-in-out infinite alternate circleMovement;
}

#circle1 {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  animation: 1.5s ease-in-out infinite alternate circleMovement;
}