/* Bootstrap import */
@import "~bootstrap/scss/bootstrap";
@import './colors.scss';

body {
    background-color: white;
    scroll-behavior: smooth;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.btn-primary{
    --bs-btn-bg: #4A8DB7;
    --bs-btn-border-color: #4A8DB7;
}

.min-h-100 {
    min-height: 100vh;
}
