/* Bootstrap import */
@import "~bootstrap/scss/bootstrap";
body{
    
    scroll-behavior: smooth;
}


.overflow-y-hidden {
    overflow-y: hidden;
}


.overflow-y-hidden {
    overflow-y: hidden;
}

