.footer-svg-github {
    width: 50px;
    height: 50px;
}

.footer-svg-predicto {
    width: 150px;
}

@media screen and (min-width: 1300px){
    .w-xxl-80 {
        width: 80%;
    }
}

.link-footer {
    text-decoration: none;
    color: black;
}

.ListGroup.Item {
    
}